.rating-css div {
    color:gold;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

.rating-css input {
    display: none;
}

.rating-css input + label {
    font-size: 60px;
    cursor: pointer;
}

.rating-css input:checked + label ~ label{
    color: #838383;
}

.rating-css label:active {
    transform: scale(0.8);
    transition: .3s ease;
}
